.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
  padding: 20px 60px;
}
img.ui.image.backimage{
  width: available;
  padding-bottom: 15px;
}

.ui.container.mainbody{
  background-image: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg");
  width: fit-content;
  height: 500px;

}
div.leftlogoimage{
  padding-top: 150px;
  padding-left: 100px;
}
h3.righttext{
  color: white;
  padding-top: 190px;
  padding-right: 100px;
}
.ui.vertically.divided.grid.bfooter{
  background-color: #003b30;
  color: white;
}
.ui.container.leftlist{
  padding-left: 30px;
}


